
    .top-text-margin {
        margin-bottom: 20px;
    }

    .list-header {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #F2F2F2;
    }
    
    .list-container {
        display: flex;
        height: 70px;
        align-items: center;
        border-bottom: 1px solid#ccc;
    }

    .item1, .item4,
    .item5, .item6,
    .list1, .list4,
    .list5, .list6 {
        flex: 1;
        text-align: center;

    }

    .item2, .item3,
    .list2, .list3 {
        flex: 2;
        text-align: center;
    }

    .list2 img {
        width: 50px;
    }

    .list6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn1 {
        border: none;
        border-radius: 10px;
        background-color: #CFF7D3;
        width: 50px;
        font-size: 12px;
    }
    
    .btn2 {
        border: none;
        border-radius: 10px;
        background-color: black;
        color: white;
        width: 50px;
        font-size: 12px;
        margin-top: 2px;
    }
