   
    .top-text-margin {
        margin-bottom: 20px;
    }

    .container-form {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .form-group {
        display: flex;
        border: 1px solid #ccc;
        height: 70px;
    }

    .form-group label {
        display: flex;
        align-items: center;
        padding-left: 10px;
        width: 250px;
        font-weight: bold;
        background-color: white;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        text-align: auto;
    }

    .form-group input {
        flex-grow: 1;
        margin: 10px;
        border: 1px solid #ccc;
        font-size: 14px;
        padding-left: 10px;
    }

    #charCount {
        align-self: center;
        width: 100px;
    }
    
    .container-textarea {
        display: flex;
        border: 1px solid #ccc;
    }

    .textarea {
        padding-left: 10px;
        flex-grow: 1;
        padding: 10px;
        border: none;
        height: 100%;
    }

    .btn-register-div {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .btn-register {
        padding: 10px 20px;
        background-color: #CFF7D3;
        border: none;
        color: black;
        border-radius: 5px;
    }
