

    .top-text-margin {
      margin-bottom: 20px;
    }
       
    .list-header {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #F2F2F2;
    }

    .item1, .item3,
    .notice-created, .upAndDelBtn {
        flex: 1;
        text-align: center;
    }

    .item2, .notice-title {
        flex: 2;
        text-align: center;
    }

    .list-container {
        display: flex;
        height: 70px;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    .upAndDelBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn1 {
        border: none;
        border-radius: 10px;
        background-color: #CFF7D3;
        width: 50px;
        font-size: 12px;
    }
    
    .btn2 {
        border: none;
        border-radius: 10px;
        background-color: black;
        color: white;
        width: 50px;
        font-size: 12px;
        margin-top: 2px;
    }

