<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%-5level %logger{36}.%M() - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
		<!-- 내가 만든 자바소스 로그레벨: 디버그, 인포, 워닝 이상으로 설정 -->
		<Logger name="com.mycompany.miniproject" level="debug" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
	</Loggers>
</Configuration>